<div class="jumbotron">
  <h1 class="text-center">
    Bem-vindo ao Contatooh
  </h1>
</div>
<button class="btn btn-primary" ng-click="incrementa()">
  Novo
</button>
<p>Contatos cadastrados: {{total}}</p>
<input type="search" placeholder="parte do nome" ng-model="filtro">
<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th>NOME</th>
      <th>EMERGÊNCIA</th>
      <th class="text-center">Ação</th>
    </tr>
  	<tr ng-repeat="contato in contatos | filter: filtro">
  		<td><a>{{contato.nome}}</a></td>
  		<td>{{contato.email}}</td>
  		<td class="text-center">
  			<button class="btn btn-warning">
  				Remover
  			</buttom> 
  		</td>
  	</tr>
  </table>
</div>